@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #222b3b;
  font-family: "Poppins", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en Chrome, Safari y Opera */
}
